<h2>Kvíz</h2>
<div class="container">
    <div>
        <p id="questionNum"></p>
        <h3 id="question"></h3>
    </div>
    <div id="answers"></div>
        <button id="next" onclick="next()">Další<span class="material-symbols-rounded">arrow_forward</span></button>
        <p id="score"></p>
    </div>
</div>